#container {
    height: 300px;
    width: 80%;
    margin: 10px auto;
    background-color: azure;
    border: 2px solid black;
  
    /* now understanding how to display flex item */
    display: flex; /* This makes the container a flex container */
    flex-direction: row; /* This sets the direction of the flex items */
    flex-direction: row-reverse; /* This sets the direction of the flex items in reverse manner */
  }
  
  #container div {
    height: 100px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5em;
  }
  
  h1 {
    text-align: center;
  }
  