#container {
  height: 300px;
  width: 80%;
  margin: 10px auto;
  background-color: azure;
  border: 2px solid black;

  /* now understanding how to display flex item */
  display: flex; /* This makes the container a flex container */
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  /* 1st option */
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;

  /* 2nd option */
  align-content: space-between;
  align-content: space-around;
  align-content: space-evenly;

  /* 3rd option */
  align-content: baseline;
}

#container div {
  height: 50px;
  width: 300px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  text-align: center;
}
