#container {
  height: 300px;
  width: 80%;
  margin: 10px auto;
  background-color: azure;
  border: 2px solid black;

  /* now understanding how to display flex item */
  display: flex; /* This makes the container a flex container */
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  /* align self  */
  align-content: flex-start;
}

#org {
  align-self: center; /* align-self works on individial items only */

  /* flex basis */
  /* flex-basis: 50px; This sets the initial size of the item */

  /* flex-grow */
  flex-grow: 1; /*This allows the item to grow and fill the available space*/
}

#blue {
  /* flex-basis: 400px;  */
  flex-grow: 2; /*This allows the item to grow and fill the available space*/
}

#container div {
  height: 100px;
  width: 50px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  text-align: center;
}
